{% extends "result.njk" %}
{% import "macros/results.njk" as results %}

{% block recommendation %}
  {{ results.recommendation(
    'Audit services',
    'Based on your answers, we think you should use the Crescent Purchasing Consortium (CPC) framework.'
  ) }}
{% endblock %}

{% block resultContent %}
  {{ results.offers([
    'internal audit',
    'external audit',
    'assurance',
    'audit-related services',
    'financial control services'
  ]) }}

  {{ results.benefits([
    'free quote tool'
  ]) }}
{% endblock %}