{% extends "result.njk" %}
{% import "macros/results.njk" as results %}

{% block recommendation %}
  {{ results.recommendation(
    'Books and related materials',
    'Based on your answers, we think you should use the Eastern Shires Purchasing Organisation (ESPO) framework.'
  ) }}
{% endblock %}

{% block resultContent %}
  {{ results.offers([
    'books',
    'e-books',
    'e-audiobooks',
    'educational software',
    'CDs',
    'DVDs'
  ]) }}

  {{ results.benefits([
    'discounts of over 40% on some titles'
  ]) }}
{% endblock %}

{% block asideextra %}
  <h3 class="govuk-body-s">Explore the topic</h3>
  <ul class="govuk-list govuk-!-font-size-16">
    <li>
      <a href="https://www.gov.uk/guidance/buying-for-schools/books-and-educational-resources" class="govuk-link">Buy books and related materials for your school</a>
    </li>
    <li>
      <a href="/how-to-use-espo-framework" class="govuk-link">How to use the ESPO framework</a>
    </li>
  </ul>
{% endblock %}