{% extends "result.njk" %}
{% import "macros/results.njk" as results %}

{% block recommendation %}
{{ results.recommendation(
  'Building cleaning services',
  'Based on your answers, we think you should use the Crescent Purchasing Consortium (CPC) framework.'
) }}
{% endblock %}

{% block resultContent %}
{{ results.offers([
  'janitorial services',
  'deep / periodic cleaning',
  'high-level cleaning',
  'window cleaning'
], 'Lets you procure fully-managed outsourced building cleaning services including:') }}

{{ results.benefits([
  'free quote tool',
  'DBS-checked personnel',
  'expert support'
]) }}
{% endblock %}

{% block asideextra %}
  <h3 class="govuk-body-s">Explore the topic</h3>
  <ul class="govuk-list govuk-!-font-size-16">
    <li>
      <a href="https://www.gov.uk/guidance/buying-for-schools/cleaning-services" class="govuk-link">Buy cleaning services for your school</a>
    </li>
  </ul>
{% endblock %}  