{% import "macros/results.njk" as results %}

{{ results.recommendation(
  'Construction consultancy services', 
  'Based on your answers, we think you should use the NHS SBS (Shared Business Services) framework.'
) }}

{{ results.offers([
  'suppliers that provide estates, facilities and capital consultancy services across a range of property specialisms'  
]) }}


{{ results.benefits([
  'choice of regional and national suppliers',
  'flexible contract arrangements',
  'additional consultancy services'
]) }}

{{ results.button(resultMeta.get('title'), resultMeta.get('url')) }}