{% extends "result.njk" %}
{% import "macros/results.njk" as results %}

{% block recommendation %}
{{ results.recommendation(
  'Education technology', 
  'Based on your answers, we think you should use the Crown Commercial Service (CCS) framework.'
) }}
{% endblock %}

{% block resultContent %}
{{ results.offers([
  'Hardware',
  'Software',
  'Broadband fibre infrastructure',
  'Broadband services',
  'Audio-visual equipment',
  'Full and partially-managed service',
  'Support and maintenance',
  'Supply and installation'
]) }}

{{ results.benefits([
  'Save money with reduced pricing through national deals',
  'Multiple quotes or direct awards',
  'Education specialist suppliers',
  'Easy-to-use templates to help with the procurement process',
  'Single route to market for IT needs'
]) }}
{% endblock %}