{% import "macros/results.njk" as results %}

{{ results.recommendation('Electricity (half hourly, non-half hourly and unmetered)', 'Based on your answers, we think you should use the Yorkshire Purchasing Organisation (YPO) framework.') }}

 
{{ results.offers([
  'half hourly, non-half hourly and unmetered electricity supply,'
  'ancillary services including demand side response, energy storage, EV charging energy efficiency surveys and Power Purchase Agreements'
]) }}

{{ results.benefits([
  'dedicated account managers',
  'a choice of flexible and fixed contracts'
]) }}

{{ results.button(resultMeta.get('supplier'), resultMeta.get('url')) }}

