{% extends "result.njk" %}
{% import "macros/results.njk" as results %}

{% block recommendation %}
{{ results.recommendation([
  'Electricity supply and ancillary services (half hourly)',
  'Based on your answers, we think you should use the Crown Commercial Service (CCS) framework. '
]) }}
{% endblock %}

{% block resultContent %}
{{ results.offers([
  'half hourly metered electricity supply',
  'ancillary services'
]) }}

{{ results.benefits([
  'a customer service team to help you',
  'discounts in wholesale energy markets'
]) }}
{% endblock %}