{% extends "result.njk" %}
{% import "macros/results.njk" as results %}

{% block recommendation %}
{{ results.recommendation('Furniture', 'Based on your answers, we think you should use the North East Procurement Organisation (NEPO).') }}
{% endblock %}

{% block resultContent %}
{{ results.offers([
  'office furniture',
  'educational furniture',
  'residential and domestic furniture'
]) }}

{{ results.benefits([
  'select a supplier for projects less than £25,000 (this is called a direct award)',
  'no obligation design and consultancy service for large projects'
]) }}
{% endblock %}