{% import "macros/results.njk" as results %}

{{ results.recommendation('The purchasing platform', 'Based on your answers, we think you should use the Crown Commercial Service (CCS) catalogue.') }}

{{ results.offers([
  'hardware',
  'software',
  'related services'
]) }}

{{ results.benefits([ 
  'over 350,000 items' 
]) }}

{{ results.button(resultMeta.get('supplier'), resultMeta.get('url')) }}