{% extends "result.njk" %}
{% import "macros/results.njk" as results %}

{% block recommendation %}
{{ results.recommendation(
  'Desktop hardware',
  'Based on your answers, we think you should use the Crescent Purchasing Consortium (CPC) framework.'
) }}
{% endblock %}

{% block resultContent %}
{{ results.offers([
  'a range of ICT equipment and supporting services'
]) }}

{{ results.benefits([
  'free quote tool',
  'substantial savings on IT brands'
]) }}
{% endblock %}