{% extends "result.njk" %}
{% import "macros/results.njk" as results %}

{% block recommendation %}
{{ results.recommendation(
  'ICT, cloud, support and related services (Think IT)',
  'Based on your answers, we think you should use the E2BN framework.'
) }}

{% endblock %}

{% block resultContent %}
{{ results.offers([
  'Hardware such as PCs, laptops, tablets, servers, printers, multi-functional devices.',
  'Software such as Microsoft O365, Google, Adobe, cyber security, mobile device management, educational content, MIS and financial packages.',
  'Connectivity such as broadband, dedicated lines, 4G, 5G and satellite.',
  'Infrastructure such as wifi, cabling, wide area networks and network management.',
  'Cloud services, including Microsoft Azure, automated backup services, remote desktop, disaster recovery, VoIP systems.',
  'Mix of fully and partially managed services.',
  'IT Support, including staff training, onsite support technicians and remote helpdesk.',
  'Consultancy services, including cloud readiness assessment, review of technical infrastructure and existing contract reviews.'

]) }}

{{ results.benefits([
  'Choose from over 100 suppliers, including Microsoft, Dell, HP, Cisco, SMART, Promethean and niche providers.',
  'Save time with quotes which are relevant to you, often within 24 hours.',
  'Save money with reduced pricing through national deals.',
  'Multiple quotes or direct awards.',
  'Better value through suppliers benchmarked on cost, quality and service.',
  'Free advice on cloud solutions, relevant suppliers, procurement regulations and tendering processes.'
]) }}
{% endblock %}