{% import "macros/results.njk" as results %}

{{ results.recommendation(
  'Desktop hardware',
  'Based on your answers, we think you should use the Crescent Purchasing Consortium (CPC) framework.'
) }}

{{ results.offers([
  'a range of ICT equipment and supporting services'
]) }}

{{ results.benefits([
  'free quote tool',
  'substantial savings on IT brands'
]) }}

{{ results.button(resultMeta.get('supplier'), resultMeta.get('url')) }}