{% extends "result.njk" %}
{% import "macros/results.njk" as results %}

{% block recommendation %}
{{ results.recommendation(
  'ICT, cloud, support and related services (Think IT)',
  'Based on your answers, we think you should use the E2BN framework.'
) }}

{% endblock %}

{% block resultContent %}
{{ results.offers([
  'educational cloud services specifically designed for schools, academies and other learning centres'
]) }}

{{ results.benefits([
  'online quotes'
]) }}
{% endblock %}