{% import "macros/results.njk" as results %}

{{ results.recommendation(
  'Insurance for academies, free schools and similar institutions',
  'Based on your answers, we think you should use the Crescent Purchasing Consortium (CPC) framework.'
) }}

{{ results.offers([
  'insurance and insurance related services, designed primarily for use by academies, free schools and academy trusts.'  
]) }}

{{ results.benefits([
  'free quote tool',
  'advice on insurance services not covered by DfE’s risk protection arrangement'
]) }}

{{ results.button(resultMeta.get('title'), resultMeta.get('url')) }}