{% import "macros/results.njk" as results %}

{{ results.recommendation(
  'National energy performance contracting', 
  'Based on your answers, we think you should use the Crown Commercial Service (CCS) framework.'
) }}

{{ results.offers([
  'streamlines procurement process for energy services',
  'helps retrofit energy efficiency and local energy generation measures to your buildings or estate, reducing annual energy expenditure and carbon emissions'
]) }}

{{ results.benefits([
  'improves energy performance of your buildings',
  'reduces carbon emissions and achieves annual savings on energy',
  'guaranteed level of energy savings – offering a secure financial saving over period of agreement'
]) }}

 

