{% extends "result.njk" %}
{% import "macros/results.njk" as results %}

{% block recommendation %}
{{ results.recommendation('ICT solutions and supply network infrastructure', 'Based on your answers, we think you should use the Crescent Purchasing Consortium (CPC) framework.') }}
{% endblock %}

{% block resultContent %}
{{ results.offers([
  'servers and associated equipment',
  'enterprise storage solutions',
  'data backup and archiving solutions',
  'networking equipment ',
  'wireless network systems',
  'Local Area Networks (LAN) virtualisation',
  'digital infrastructure',
  'online and Cloud storage solutions',
  'network security systems',
  'separate maintenance, installation, and support services'
]) }}
 
{{ results.benefits([
  'free quote tool',
  'management support'
]) }}
{% endblock %}