{% import "macros/results.njk" as results %}

{{ results.recommendation('Multifunctional Devices, Managed Print and Content Services and Records and Information Management', 'Based on your answers, we think you should use the Crown Commercial Services (CCS) framework.') }}

{{ results.offers([
  'photocopiers, printers and scanners (multi-functional devices, MFDs) at a nationally negotiated rate'
]) }}

{{ results.benefits([
  'schools report savings of around 40%'
]) }}

{{ results.button(
  'Continue to the CCS website',
  'https://ccs-agreements.cabinetoffice.gov.uk/contracts/rm3781'
) }}