{% extends "result.njk" %}
{% import "macros/results.njk" as results %}

{% block recommendation %}
{{ results.recommendation(
  'Removal, relocation and additional services', 
  'Based on your answers, we think you should use the Crescent Purchasing Consortium (CPC) framework.'
) }}
{% endblock %}

{% block resultContent %}
{{ results.offers([
  'overseas removals',
  'crate hire',
  'archiving',
  'office and classroom equipment and specialised relocations (laboratories, art and IT equipment)'
], 'Regional suppliers covering all aspects of removal and relocation services including:') }}

{{ results.benefits([
  'free quote tool',
  'contract management support (such as practical advice with specifications, quotations, contract award and management of suppliers)'
]) }}
{% endblock %}