{% import "macros/results.njk" as results %}

{{ results.recommendation(
  'Energy efficiency improvements from Retrofit',
  'Based on your answers, we think you should use the Fusion 21 framework.'
) }}
 
{{ results.offers([
  'insulation',
  'heating and energy systems',
  'energy efficient lighting',
  'windows',
  'doors'
]) }}

{{ results.benefits(
  'choice of regional and national suppliers',
  'single or fully integrated solutions'
) }}

{{ results.button(resultMeta.get('title'), resultMeta.get('url')) }}