{% extends "result.njk" %}
{% import "macros/results.njk" as results %}

{% block recommendation %}
{{ results.recommendation('School Switch', 'Based on your answers, we think you should use the Crown Commercial Service (CCS) framework.') }}
{% endblock %}

{% block resultContent %}
{{ results.offers([
  'a simple way to switch energy suppliers online',
  'instant quotes based on your school’s energy needs'
]) }}

{{ results.benefits([
  'no specialist knowledge needed',
  'transparent (see all supplier prices)',
  'dedicated helpdesk is available'
]) }}
{% endblock %}