{% import "macros/results.njk" as results %}

{{ results.recommendation(
  'Software licenses and associated services for academies and schools',
  'Based on your answers, we think you should use the Crescent Purchasing Consortium (CPC) framework.'
) }}

{{ results.offers([
  'software licenses and associated supporting services'  
]) }}

{{ results.benefits([
  'free quote tool',
  'contract manager assistance and support'
]) }}

{{ results.button(resultMeta.get('title'), resultMeta.get('url')) }}