{% extends "result.njk" %}
{% import "macros/results.njk" as results %}

{% block recommendation %}
{{ results.recommendation(
  'Software licenses and associated services for academies and schools',
  'Based on your answers, we think you should use the Crescent Purchasing Consortium (CPC) framework.'
) }}
{% endblock %}

{% block resultContent %}
{{ results.offers([
  'software licenses and associated supporting services'  
]) }}

{{ results.benefits([
  'free quote tool',
  'contract manager assistance and support'
]) }}
{% endblock %}