{% import "macros/results.njk" as results %}

{{ results.recommendation(
  'Portable appliance and fixed wire testing (PAT)',
  'Based on your answers, we think you should use the Crescent Purchasing Consortium (CPC) framework.'
) }}

{{ results.offers([
  'suppliers for portable appliance and fixed wire testing'
]) }}

{{ results.benefits([
  'free quote tool',
  'choice of regional and national pre-approved suppliers'
]) }}

{{ results.button(resultMeta.get('title'), resultMeta.get('url')) }}