{% extends "result.njk" %}
{% import "macros/results.njk" as results %}

{% block recommendation %}
{{ results.recommendation(
  'Water, wastewater and ancillary services',
  'Based on your answers, we think you should use the Crown Commercial Service (CCS) framework.'
) }}
{% endblock %}

{% block resultContent %}
{{ results.offers([
  'water supply',
  'sewerage',
  'services that reduce water use'
]) }}

{{ results.benefits([
  'discount prices'  
]) }}
{% endblock %}