{% import "macros/results.njk" as results %}

{{ results.recommendation(
  'Water, wastewater and ancillary services',
  'Based on your answers, we think you should use the Crown Commercial Service (CCS) framework.'
) }}

{{ results.offers([
  'water supply',
  'sewerage',
  'services that reduce water use'
]) }}

{{ results.benefits([
  'discount prices'  
]) }}

{{ results.button(resultMeta.get('supplier'), resultMeta.get('url')) }}