{% extends "guidance.njk" %}
{% set captiontitle = "Collection" %}
{% set title = "Buying for schools: category guidance" %}
{% set intro = "Category specific guidance to help schools run efficient procurement processes." %}
{% set published = "2019-01-22" %}
{% set updated = "2019-01-22" %}

{% block guidance %}
  <h2 class="govuk-heading-m" id="templates">Procurement guidance</h2>
  
  <p class="govuk-body">Follow our <a class="govuk-link" href="https://www.gov.uk/guidance/buying-for-schools">step-by-step guidance on buying for schools</a> to help you through the procurement process.</p>
  
  <p class="govuk-body">We also offer <a class="govuk-link" href="https://www.gov.uk/government/publications/procurement-training-for-schools">training modules about the procurement process</a>.</p>


  <h2 class="govuk-heading-m" id="guides">Category guides</h2>

  <p class="govuk-body">Guidance for schools buyers for different categories of spend.</p>
  <ul class="govuk-list document__list">
    <li class="document__listitem">
      <a class="govuk-link document__title" href="/guidance/books">Buy books and related materials for your school</a>
      <span class="govuk-body-s document__metadata document__metadata--date">22 January 2019</span>
      <span class="govuk-body-s document__metadata document__metadata--type">Guidance</span>
    </li>

    <li class="document__listitem">
      <a class="govuk-link document__title" href="/guidance/electricity">Buy electricity for your school</a>
      <span class="govuk-body-s document__metadata document__metadata--date">22 January 2019</span>
      <span class="govuk-body-s document__metadata document__metadata--type">Guidance</span>
    </li>
  </ul>
{% endblock %}

{% block guidanceaside %}
  
{% endblock %}