{% extends "guidance.njk" %}

{% set title = "Buy ICT hardware for your school" %}
{% set intro = "Use this guide to find the best solution for the computer hardware requirements of your school or academy." %}
{% set published = "2019-01-22" %}
{% set updated = "2019-01-22" %}

{% set contents = [
  { id:"consider", title: "Things you should consider" },
  { id:"rightway", title: "Find the right way to buy" },
  { id:"nextsteps", title: "Next steps" }
] %}

{% block guidance %}
  <p class="govuk-body">Computer hardware is the physical components of ICT such as:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>desktops</li>
    <li>laptops</li>
    <li>tablets</li>
    <li>monitors</li>
    <li>printers</li>
    <li>servers</li>
  </ul>

  <h2 class="govuk-heading-m govuk-!-margin-top-9" id="consider">Things you should consider</h2>
  <p class="govuk-body">You can buy individual ICT components, but you should consider creating an ICT strategic document.</p>
  <p class="govuk-body">This document will help your school to use ICT for:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>teaching</li>
    <li>learning</li>
    <li>back-office functions</li>
  </ul>

  <h2 class="govuk-heading-m govuk-!-margin-top-9" id="rightway">Find the right way to buy</h2>
  <h3 class="govuk-heading-s">For small procurements</h3>
  <p class="govuk-body">You can buy low or medium-value hardware for your school by researching suppliers.</p>

  <p class="govuk-body">To do this you should:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>decide how you’ll assess the bids</li>
    <li>get quotes from at least 3 suppliers</li>
    <li>assess all quotes fairly</li>
    <li>choose the supplier that offers best value for money</li>
  </ul>
  <p class="govuk-body">Further guidance is available in <a class="govuk-link" href="https://www.gov.uk/guidance/buying-for-schools/buying-low-to-medium-cost-things">buying low to medium cost</a>.</p>

  <h3 class="govuk-heading-s">For large procurements</h3>
  <p class="govuk-body">The process for buying high-value things can be complicated. You may find using a framework simpler.</p>
  <p class="govuk-body">Guidance on <a class="govuk-link" href="https://www.gov.uk/guidance/buying-for-schools/buying-high-value-things-under-the-eu-procurement-threshold">buying high-value things</a> is available.</p>

  <h3 class="govuk-heading-s">Buy from a catalogue</h3>
  <p class="govuk-body">You can buy competitively-priced ICT hardware products from <a class="govuk-link" href="https://purchasingplatform.crowncommercial.gov.uk/">Crown Commercial Service</a>.</p>
  <p class="govuk-body">You do not need to get 3 quotes if you use the catalogue.</p>

  <h3 class="govuk-heading-s">Use a framework</h3>
  <p class="govuk-body">Buying from a framework is usually quicker and easier than getting bids or quotes because the agreements:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>have already been through a full competitive tender process</li>
    <li>have been quality checked</li>
    <li>are checked to make sure they comply with the law</li>
    <li>may have draft specifications and help available</li>
  </ul>

  <p class="govuk-body">The Department of Education (DfE) reviews a range of frameworks. These are assessed for compliance with procurement regulations, ease of use, suitability and value for money.</p>
  
  {{ govukButton({
    text: "Find a DfE approved framework for your school",
    href: "/benefits",
    classes: "govuk-!-margin-top-5"
  }) }}

  <h2 class="govuk-heading-m govuk-!-margin-top-9" id="nextsteps">Next steps</h2>
  <ul class="govuk-list govuk-list--bullet">
    <li>Disposal/recycling - tbc</li>
    <li>Upgrade - tbc</li>
  </ul>

{% endblock %}
