{% extends "manual/manual-content.njk" %}

{% set breadcrumbtitle = "Books" %}
{% set sectiontitle = "Buy books and educational resources for your school" %}

{% block preguidance %}
  <p class="summary">Save money by negotiating with suppliers to make the most of their services.</p>

  <p class="govuk-body"><a class="govuk-link" href="/framework#category-books">All frameworks</a></p>
{% endblock %}
  
{% block collapsiblecontent %}
  
<h2 id="assess">Assess what you currently have</h2>
<p>You do not always have to switch suppliers to get better value You can negotiate savings with your current supplier based on what you already buy.</p>

<h3>Complete an audit</h3>
<p>Auditing what services you currently have can help you assess:</p>
<ul>
  <li>what resources and services you actually use</li>
  <li>how much you’re currently paying</li>
  <li>any gaps in your current provision</li>
  <li>your school’s costs with similar schools using the free DfE benchmarking service</li>
</ul>

<p>You can also invite publishers to your school to help you with audits</p>



<h3>Ask for a loyalty discount</h3>
<p>You should ask for a discount if you:</p>
<ul>
  <li>have used the same supplier for several years</li>
  <li>are a regular customer</li>
  <li>are making a large order</li>
</ul>
  
<h3>Use all the services offered by your supplier</h3>
<p>Maximise the free resources and support that your supplier offers, especially if you cannot negotiate a price reduction. This may include:</p>
<ul>
  <li>free advice on what resources may work best for your school</li>
  <li>asking suppliers for a free demonstration of resources you want to buyusing a try before you buy scheme like <a href="https://www.besa.org.uk/initiatives/lended/">LendEd</a></li>
</ul>

<h3>Combine budgets and requirements</h3>
<p>You can get discounts on large purchases by combining budgets across:</p>
<ul>
  <li>departments in your school</li>
  <li>schools in your multi-academy trust (MAT)</li>
  <li>schools in your local authority</li>
</ul>

<p>To do this you can talk to: </p>
<ul>
  <li>your supplier</li>
  <li>similar schools in your area</li>
</ul>

<h2>Review other suppliers</h2>
<p>You may get better value if you can switch suppliers or buy new resources. </p>

<h3>Compare costs with other schools and suppliers</h3>
<p>Before switching, you may want to:</p>
<ul>
  <li>ask suppliers, subject associations and teaching hubs about getting better value</li>
  <li>join or find a <a href="https://www.gov.uk/government/publications/join-or-create-a-network-for-school-business-professionals/school-business-professional-networks-directory">school business professional network</a> and contact similar schools</li>
  <li>ask similar schools for feedback on suppliers and resources</li>
  <li>compare your school’s costs with other similar schools using the free <a href="https://www.gov.uk/guidance/schools-financial-efficiency-financial-benchmarking">DfE benchmarking service</a></li>
</ul>

<h3>Talk to publishers</h3>
<p>Publishers can visit your school, free of charge, to:</p>
<ul>
  <li>provide resource demonstrations</li>
  <li>conduct an audit of your existing books collection</li>
  <li>provide advice on how resources can support learning</li>
  <li>give free training to teachers on the new resources</li>
</ul>

<p>Publishers can help you save money by suggesting:</p>
<ul>
  <li>you use your resources differently</li>
  <li>cost-effective top-up materials to avoid buying a new set of materials</li>
  <li>easier ways to buy, such as aligning with your school payment system</li>
</ul>

<h2>Savings</h2>
{{ govukWarningText({
  text: 'If you’re buying books and materials over a longer term, make sure they are high quality and will meet your future curriculum requirements.',
  iconFallbackText: 'Warning'
}) }}


<p>If you’re buying in bulk or purchasing a class set of books, check whether your supplier can offer:</p>
<ul>
  <li>free books</li>
  <li>additional services that add value</li>
</ul>

<p>You can also get discounts on:</p>
<ul>
  <li>bulk orders for your MAT or other local schools</li>
  <li>top up orders for lost or damaged books</li>
  <li>digital subscriptions</li>
  <li>longer-term subscriptions </li>
</ul>

<p><a href="https://www.gov.uk/government/email-signup/new?email_signup%5Bfeed%5D=https://www.gov.uk/government/organisations/department-for-education.atom">Email alerts</a> from the Department for Education about additional funding and programmes to help you school are available.</p>

<h3>Fees</h3>
<p>Before you buy, you should be aware of fees for:</p>
<ul>
  <li>book-jacketing</li>
  <li>delivery </li>
  <li>delayed or missed payments</li>
</ul>



<h2>Find the right way to buy</h2>
{{ govukWarningText({
    text: 'Follow your school’s procurement rules. These may be your school’s own rules, or set by the local authority.',
    iconFallbackText: 'Warning'
}) }}
<p>The option you choose will depend on your school requirements and circumstances. The DfE has also put together <a href="https://www.gov.uk/government/collections/buying-for-schools">guidance and templates</a> to support you.</p>
<p>There are many different ways to buy books and educational resources. Here are 3 suggestions of how to achieve best value:</p>
<ul>
  <li><a href="#use-a-framework">use a framework</a></li>
  <li><a href="#compare-prices">compare prices across catalogues or third party suppliers</a></li>
  <li><a href="#negotiate">negotiate with publishers</a></li>
</ul>

<h3 id="use-a-framework">Use a framework</h3>

<div class="call-to-action">
  <p>DfE reviews a range of frameworks. These are assessed for compliance with procurement regulations, ease of use, suitability and value for money.</p>

  <p><a rel="external" href="/">Find a DfE recommended framework for your school</a></p>
</div>
 
<p>You may want to use framework agreements because they:</p>
<ul>
  <li>help you run competitions across multiple suppliers</li>
  <li>have already been through a full competitive tender process</li>
  <li>have been quality checked</li>
  <li>are checked to make sure they comply with the law</li>
  <li>may have draft specifications and help available</li>
  <li>offer significant discounts</li>
  <li>are free to use</li>
  <li>give you access to discounted specialist school services</li>
  <li>offer free support with the buying process </li>
</ul>

<h3>Availability</h3>

<p>Getting your books may take longer if you need to order from different suppliers.</p>

<p>Before you buy, consider whether you:</p>
<ul>
  <li>want your orders in the same order and at the same time</li>
  <li>need different suppliers</li>
  <li>can access materials in different formats, such as e-books</li>
</ul>

<p>You can find out more details about the books and materials frameworks on our <a href="/framework">recommended framework list</a>.</p>

<h3 id="compare-prices">Compare prices across catalogues or third party suppliers</h3>

<p>You can compare prices using:</p>
<ul>
  <li>catalogues online or in print</li>
  <li>an educational trade supplier recommended by the <a href="https://www.besa.org.uk/">British Education Suppliers Association (BESA)</a>.</li>
</ul>

<p>Some catalogues can save you time through the use of:</p>
<ul>
  <li>shared baskets across the school</li>
  <li>advising you of special offers</li>
  <li>free book jacketing service</li>
  <li>payment methods linked with your school finance system </li>
  <li>sharing recommendations for suitable resources, reading schemes or class book sets</li>
</ul>

<h3>Negotiate with publishers</h3>

<p>Publishers can offer you help with buying books while still giving you discounts. It’s a good idea to compare what they’re offering to help you make the most suitable purchase.</p>

<p>You can compare their services and offers online or invite them to visit your school. You’ll find publishers’ contact details at <a href="https://publishers.org.uk/about-us/members-and-affiliates/">The Publishers Association.</a></p>

{% endblock %}