{% extends "manual/manual.njk" %}


{% block guidance %}
  <div class="manual-body">
    <p class="govuk-body-l">Guidance on what you should consider when buying things for your school</p>
    <div>

      <div class="cta-box">
        <p class="govuk-body"><a href="/">Find a DfE recommended framework</a> to buy what you need for your school.</p>
      </div>

      <p class="govuk-body"><a class="govuk-link" href="#">Read our procurement guidance for schools</a>.</p>

    </div>

    <ol class="section-list">
      <li>
        <a rel="external" class="" href="/guidance/catering">
          <span class="subsection-title-text">Catering</span>
          <span class="subsection-summary">Use this guide to find the best solution for the catering requirements of your school or academy.</span>
        </a> 
      </li>

      <li>
        <a rel="external" class="" href="/guidance/electricity">
          <span class="subsection-title-text">Electricity</span>
          <span class="subsection-summary">Use this guide to find the best solution for the electricity requirements of your school or multi-academy trust (MAT).</span>
        </a>
      </li>
      <li>
        <a rel="external" class="" href="/guidance/electricity">
          <span class="subsection-title-text">Books and materials</span>
          <span class="subsection-summary">Use this guide to find the best value books and materials your school or multi-academy trust (MAT).</span>
        </a>
      </li>
      <li>
        <a rel="external" class="" href="/guidance/electricity">
          <span class="subsection-title-text">ICT</span>
          <span class="subsection-summary">Use this guide to find the best solution for the ICT requirements of your school or multi-academy trust (MAT).</span>
        </a>
      </li>
      <li>
        <a rel="external" class="" href="/guidance/cleaning">
          <span class="subsection-title-text">Cleaning</span>
          <span class="subsection-summary">Use this guide to find the best solution for the cleaning requirements of your school or multi-academy trust (MAT).</span>
        </a> 
      </li>
      <li>
        <a rel="external" class="" href="/guidance/electricity">
          <span class="subsection-title-text">Legal</span>
          <span class="subsection-summary">Use this guide to find the best legal services for your school or multi-academy trust (MAT).</span>
        </a> 
      </li>
    </ol>
  </div>
{% endblock %}