{% extends "manual/manual.njk" %}

{% set manualcontentspage = true %}

{% block guidance %}
  <div class="manual-body">
    <div>
      <p class="govuk-body-l">Advice on buying goods and services for your school.</p>
   
      <p class="govuk-body">This guide will help you to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>plan before you buy goods and services for your school</li>
        <li>assess what you’ve currently got and what you need</li>
      </ul>
   
      <div class="cta-box">
        <p class="govuk-body">Use our <a href="/" class="ukgov-link">Find a DfE approved framework</a> tool to buy what you need.</p>
      </div>

      <p class="govuk-body"><a href="#" class="ukgov-link">Guidance on buying procedures and procurement law</a> is also available.</p>
    </div>
    <ol class="section-list">
      <li>
        <a rel="external" class="" href="/guidance/catering">
          <span class="subsection-title-text">Catering</span>
          <span class="subsection-summary">Use this guide to find the best solution for the catering requirements of your school or academy.</span>
        </a> 
      </li>

      <li>
        <a rel="external" class="" href="/guidance/electricity">
          <span class="subsection-title-text">Electricity</span>
          <span class="subsection-summary">Use this guide to find the best solution for the electricity requirements of your school or multi-academy trust (MAT).</span>
        </a>
      </li>
      <li>
        <a rel="external" class="" href="/guidance/books">
          <span class="subsection-title-text">Books and materials</span>
          <span class="subsection-summary">Use this guide to find the best value books and materials your school or multi-academy trust (MAT).</span>
        </a>
      </li>
      <li>
        <a rel="external" class="" href="/guidance/ict-hardware">
          <span class="subsection-title-text">ICT</span>
          <span class="subsection-summary">Use this guide to find the best solution for the ICT requirements of your school or multi-academy trust (MAT).</span>
        </a>
      </li>
      <li>
        <a rel="external" class="" href="/guidance/cleaning">
          <span class="subsection-title-text">Cleaning</span>
          <span class="subsection-summary">Use this guide to find the best solution for the cleaning requirements of your school or multi-academy trust (MAT).</span>
        </a> 
      </li>
    </ol>
  </div>
{% endblock %}