{% extends "manual/manual-content.njk" %}

{% set breadcrumbtitle = "Electricity" %}
{% set sectiontitle = "Electricity" %}

{% block preguidance %}
  <p class="summary">Use this guide to find the best solution for the electricity requirements of your school or multi-academy trust (MAT).</p>
{% endblock %}

{% block collapsiblecontent %}
  
  <h2 id="before-you-start">Before you start</h2>
  <p>Gather information that you can find on your electricity bill.</p>

  <p>Regardless of the way you buy, you must include:</p>

  <ul>
    <li>billing address</li>
    <li>supply address and postcode</li>
    <li>expiry date of current agreement</li>
    <li>notice period</li>
    <li>full supply number (S or MPAN number)</li>
    <li>if you’re eligible for a reduced rate VAT on your energy bills</li>
  </ul>

  <h3 id="reduced-rate-vat">Reduced rate VAT</h3>

  <p>If you’re an academy you should pay reduced rate VAT of 5% on your energy bills. You do not need to pay the climate change levy.</p>
 

  


  <h2 id="find-your-meter-type">Find your meter type</h2>
    
  <p>There are 2 types of meters:</p>

  <ul>
    <li>half hourly</li>
    <li>non-half hourly</li>
  </ul>

  <p>If you’re not sure which type you have, you can find out by checking the MPAN number on your energy bill.</p>

  <p>Look at the first two numbers after the S on your meter.</p>

  <p><a rel="external" href="https://assets.publishing.service.gov.uk/media/5cc9786140f0b64c15a6722e/Electricity_meter.png">MPNA number</a></p>

  <p>If it’s 00, it’s a half hourly meter, any other number means it’s a non-half hourly meter.</p>

  <h3 id="half-hourly-meter">Half hourly meter</h3>

  <p>If you have a half hourly meter, you must include:</p>

  <ul>
    <li>12 months’ half hourly consumption data in kWh in excel format – you can get this from your existing provider</li>
    <li>authorised Supply Capacity in Kilovolt-Amp (kVA)</li>
    <li>whether the supply is high or low voltage (HV or LV)</li>
    <li>name of meter operator</li>
  </ul>

  <h3 id="non-half-hourly-meter">Non-half hourly meter</h3>

  <p>If you have a non-half hourly meter, you must include:</p>

  <ul>
    <li>actual or estimated annual consumption in kilowatt-hour (kWh)</li>
    <li>whether the supply has an automatic meter reader (AMR) or smart meter fitted</li>
  </ul>
   
  
    
  <h2 id="choose-a-pricing-option">Choose a pricing option</h2>

  <p>Only 50% of your bill is made up of electricity costs. The rest is made up of network costs set by Ofgem and other costs fixed by the government. These costs are referred to as pass through costs.</p>

  <h3 id="fully-fixed-prices">Fully fixed prices</h3>

  <p>You will get a fixed cost per kWh throughout the length of your contract, including network costs.</p>

  <h3 id="fixed-electricity-costs">Fixed electricity costs</h3>

  <p>Your price of electricity per kWh is fixed for the length of the contract.</p>

  <p>The network costs may change if Ofgem approves changes. Your provider will notify you of cost changes.</p>

  <h3 id="variable-or-flexible-electricity-costs">Variable or flexible electricity costs</h3>

  <p>The price you pay for electricity will vary during the length of your contract.</p>

  <p>This is because your provider purchases electricity in blocks before and during the length of your contract. Network charges will normally be passed through for these contracts.</p>

  <p>Each provider’s version of the above will vary. Consider what each provider offers before you choose.</p>
   

  
  <h2 id="find-the-right-way-to-buy">Find the right way to buy</h2>

    
  <p>You have 3 options:</p>
  <ul>
    <li>use a framework</li>
    <li>compare and switch sites</li>
    <li>use an energy consultant or broker</li>
  </ul>

  <p>The option you choose will depend on your school requirements and circumstances.</p>

  <h3 id="use-a-framework">Use a framework</h3>

  <div class="call-to-action">
    <p>DfE reviews a range of frameworks. These are assessed for compliance with procurement regulations, ease of use, suitability and value for money.</p>

    <p><a rel="external" href="/">Find a DfE recommended framework for your school</a></p>
  </div>

  <p>If you use an energy framework, your usage forms part of an aggregated purchase by the framework provider. This gives the provider combined purchasing power and the ability to secure better energy pricing and lower supplier management fees.</p>

  <p>Buying from a framework is usually quicker and easier than getting bids or quotes because the agreements:</p>

  <ul>
    <li>have already been through a full competitive tender process</li>
    <li>have been quality checked</li>
    <li>are checked to make sure they comply with the law</li>
    <li>may have support available</li>
  </ul>

  <p>If you’ve chosen to use a framework, use the documentation provided by the framework supplier. This makes sure you’re covered under the framework terms and conditions.</p>

  <h3 id="compare-and-switch-sites">Compare and switch sites</h3>

  <p>The Department for Education (DfE) has worked with CCS to develop <a rel="external" href="https://schoolswitch.crowncommercial.gov.uk/#!/home">School Switch</a> – a free online comparison and switch service tailored for schools.</p>

  <p>Price comparison sites compare energy prices and help you switch energy provider, like the ones you might use at home for your domestic energy supply.</p>

  <p>Unlike domestic supply switch services, you are responsible for terminating your current contract when switching. You need to be aware of the end date and required notice period of your current contract.</p>

  <p>If you use a switch site, you should:</p>

  <ul>
    <li>know who’s responsible for signing the energy contract</li>
    <li>make sure the person who needs to sign the contract is available on the day – quotes are only valid on the day</li>
    <li>be up to date with current payments – a supplier can block your switch if you have outstanding debts beyond your contracted payment terms</li>
  </ul>

  <h3 id="use-an-energy-consultant-or-broker">Use an energy consultant or broker</h3>

  <div role="note" aria-label="Help" class="application-notice help-notice">
    <p>Before you use an energy consultant or broker, be aware of the additional costs for this service.</p>

  </div>

  <p>Running an energy procurement can be complicated. Many schools use an energy consultant or broker, sometimes referred to as Third Party Intermediaries (TPI).</p>
  
  <p>When using a TPI, you may be charged a one-off fee for their support or an additional cost per kWh added to your energy bill. This is paid to the TPI via your supplier. If there is an additional cost per kWh, you need to calculate this across the length of the contract to understand the full cost of the services provided.</p>

  <div class="example">
    <p><strong>Calculating the cost of a TPI</strong> Pence/kWh x annual consumption (kWh) x number of years (length of contract) = cost.</p>
  </div>

  <p>A TPI should provide written confirmation of:</p>

  <ul>
    <li>charges and how they will be billed</li>
    <li>how they will compete your energy requirements</li>
    <li>how many suppliers they will approach on your behalf</li>
    <li>evidence they comply with the Ofgem voluntary principles</li>
  </ul>

  <p>A TPI will ask you to provide them with a letter of authority (LoA). Usually this is a template which you’ll be asked to print and sign on your letterhead. This is normal practice.</p>

  <p>The LoA should not give the TPI permission to sign or agree contracts on your behalf. It should not have a duration longer than what’s needed to gather the information required.</p>

  <p>If you decide to accept one of the offers submitted to you by the TPI, you will be issued with a draft contract from the energy supplier. You should check this contract before you sign.</p>
   
  
  <h2 id="choose-a-procurement-model">Choose a procurement model</h2>

    
    <p>Once you’ve chosen the right way to buy, you need to decide which type of contract you want.</p>

    <h3 id="switch-sites">Switch sites</h3>

    <h4 id="single-schools">Single schools</h4>

    <p>Single school can choose from 12, 24 or 36 month contacts.</p>

    <h4 id="multi-academy-trusts-mats">Multi-academy trusts (MATs)</h4>

    <p>MATs should consider if they can:</p>

    <ul>
      <li>combine sites to get bespoke aggregated quotations</li>
      <li>vary the length of their contract length</li>
    </ul>

    <h3 id="frameworks">Frameworks</h3>

    <p>Frameworks may be right for your school if you want agreements that have:</p>

    <ul>
      <li>been through a full competitive tender process</li>
      <li>been quality checked</li>
      <li>been checked so they comply with the law</li>
      <li>draft specifications and help available</li>
    </ul>

    <h3 id="fixed-pricing">Fixed pricing</h3>

    <p>Fixed pricing may be right for your school if:</p>

    <ul>
      <li>you need to know the cost per kWh before you start your contract</li>
      <li>you need to plan your budgets over the long term</li>
    </ul>

    <h3 id="variable-pricing">Variable pricing</h3>

    <p>Variable pricing may be right for your school if you:</p>

    <ul>
      <li>want to benefit from changes in electricity prices</li>
      <li>do not need to know the exact cost during the length of your contract</li>
    </ul>

    <p>There are multiple contract length options. A longer contract means better price stability.</p>

    <h3 id="level-of-support">Level of support</h3>

    <p>Different framework providers offer different levels of support.</p>

    <p>If you’re unfamiliar with the energy buying process, you may want to use a provider who offers more guidance.</p>
    
{% endblock %}