{% extends "manual/manual-content.njk" %}

{% set breadcrumbtitle = "ICT hardware" %}
{% set sectiontitle = "Buy ICT hardware for your school" %}

{% block preguidance %}
  <p class="summary">Use this guide to find the best solution for the computer hardware requirements of your school or academy.</p>
{% endblock %}
  
{% block collapsiblecontent %}

  <p>Computer hardware is the physical components of ICT such as:</p>
  <ul>
    <li>desktops</li>
    <li>laptops</li>
    <li>tablets</li>
    <li>monitors</li>
    <li>printers</li>
    <li>servers</li>
  </ul>

  <h2 id="consider">Things you should consider</h2>
  <p>You can buy individual ICT components, but you should consider creating an ICT strategic document.</p>
  <p>This document will help your school to use ICT for:</p>
  <ul>
    <li>teaching</li>
    <li>learning</li>
    <li>back-office functions</li>
  </ul>

  <h2 id="rightway">Find the right way to buy</h2>
  <h3>For small procurements</h3>
  <p>You can buy low or medium-value hardware for your school by researching suppliers.</p>

  <p>To do this you should:</p>
  <ul>
    <li>decide how you’ll assess the bids</li>
    <li>get quotes from at least 3 suppliers</li>
    <li>assess all quotes fairly</li>
    <li>choose the supplier that offers best value for money</li>
  </ul>
  <p>Further guidance is available in <a href="https://www.gov.uk/guidance/buying-for-schools/buying-low-to-medium-cost-things">buying low to medium cost</a>.</p>

  <h3>For large procurements</h3>
  <p>The process for buying high-value things can be complicated. You may find using a framework simpler.</p>
  <p>Guidance on <a href="https://www.gov.uk/guidance/buying-for-schools/buying-high-value-things-under-the-eu-procurement-threshold">buying high-value things</a> is available.</p>

  <h3>Buy from a catalogue</h3>
  <p>You can buy competitively-priced ICT hardware products from <a href="https://purchasingplatform.crowncommercial.gov.uk/">Crown Commercial Service</a>.</p>
  <p>You do not need to get 3 quotes if you use the catalogue.</p>

  <h3>Use a framework</h3>
  <p>Buying from a framework can be quicker and easier than getting bids or quotes because the agreements:</p>
  <ul>
    <li>have already been through a full competitive tender process</li>
    <li>have been quality checked</li>
    <li>are checked to make sure they comply with the law</li>
    <li>may have draft specifications and help available</li>
  </ul>

  <div class="call-to-action">
    <p>DfE reviews a range of frameworks. These are assessed for compliance with procurement regulations, ease of use, suitability and value for money.</p>

    <p><a rel="external" href="/">Find a DfE recommended framework for your school</a></p>
  </div>
{% endblock %}
