{% extends "manual/manual-content.njk" %}

{% set breadcrumbtitle = "ICT hardware" %}
{% set sectiontitle = "Buy ICT hardware for your school" %}

{% block preguidance %}
  <p class="summary">Use this guide to find the best solution for the computer hardware requirements of your school or academy.</p>
  
  <p class="govuk-body"><a class="govuk-link" href="/framework#category-ict">All frameworks</a></p>
{% endblock %}
  
{% block collapsiblecontent %}
 
<h2 id="plan">Plan before you buy</h2>

{{ govukWarningText({
    text: 'Many aspects of ICT are interlinked so it’s important to consider any purchase in line with your ICT needs.',
    iconFallbackText: 'Warning'
}) }}

{{ govukWarningText({
    text: 'You should not buy any ICT equipment (hardware, software, broadband) in isolation. Whatever you buy should align with your school’s ICT needs',
    iconFallbackText: 'Warning'
}) }}

<p>Effective planning can help you to avoid potential buying errors.</p>
<p>You can do this by talking to school hubs and:</p>
<ul>
  <li>assessing your school’s need</li>
  <li>avoiding costly last-minute purchases.</li>
</ul>
<p>More information to help you plan is available in the sections below.</p>


<h2 id="assess-needs">Assess your school’s needs</h2>
<p>You should only buy hardware which will improve teaching and learning in your school. You can do this by talking to:</p>
<ul>
  <li>pupils, parents, staff, governors and trustees</li>
  <li>school hubs</li>
  <li>public sector buying organisations (PSBO)</li>
  <li>other schools in your local area</li>
</ul>
 
<h3>Avoid last-minute purchases</h2>
<p>Buying last minute means what you buy could be:</p>
<ul>
  <li>more expensive</li>
  <li>unsuitable for what your school needs to do</li>
  <li>incompatible with your current hardware</li>
  <li>obsolete quickly </li>
</ul>


<h2 id="assess-current">Assess what you currently have</h2>
<h3>Repurposing</h3>
<p>Before you buy new hardware, you may want to consider:</p>
<ul>
  <li>buying reconditioned and second-hand items</li>
  <li>refurbishing expensive items</li>
</ul>
<p>You do not always need the latest or most expensive equipment and you may get better value-for-money and achieve the same outcomes.</p>
 
<h3>Compatibility</h3>
<p>Before you buy new hardware, make sure it’s compatible with your current IT infrastructure. It may be more expensive to update hardware later.</p>
 
<p>You should also confirm whether:</p>
<ul>
  <li>hardware needs installation and configuration</li>
  <li>software needs to be installed on the hardware before use</li>
</ul>

<p>The technology must:</p>
<ul>
  <li>be fit for purpose</li>
  <li>integrate into the existing teaching, learning and administration systems</li>
</ul>
 
<p>For example, your school may run Windows laptops. If you buy Apple laptops they won’t be directly compatible. By buying the correct products, you’ll save your staff time.</p>
 
 
<h2 id="right-way-to-buy">Find the right way to buy</h2>
<p>You have 2 options:</p>
<ul>
  <li>use a framework</li>
  <li>run your own procurement</li>
</ul>
 
<h3>Use a framework</h3>
<p>Buying from a framework is usually quicker and easier than getting bids or quotes because the agreements:</p>
<ul>
  <li>have already been through a full competitive tender process</li>
  <li>have been quality checked</li>
  <li>are checked to make sure they comply with the law</li>
  <li>may have draft specifications and help available</li>
</ul>


<div class="call-to-action">
  <p>DfE reviews a range of frameworks. These are assessed for compliance with procurement regulations, ease of use, suitability and value for money.</p>

  <p><a rel="external" href="/">Find a DfE recommended framework for your school</a></p>
</div>

<h3>Run your own procurement</h3>
<p>You can run your own procurement for:</p>
<ul>
  <li>lower-value tenders</li>
  <li>high-value and EU tenders</li>
</ul>

<h3>Low-value tenders</h3>
<p>This is where you procure your IT requirements by researching the relevant market and seeking a range of quotes (a minimum of 3) from suppliers.</p>

<h3>High-value and EU tenders</h3>
<p>This is where you make compliant purchases by advertising your contract and running your own competitive tender process between suppliers.</p>

<p>You must follow this process if you’re buying something over <a href="https://www.gov.uk/guidance/buying-for-schools/find-the-right-way-to-buy">EU procurement thresholds</a>.</p>
 
<h2 id="other-considerations">Other considerations</h2>

<h3>Hardware disposal</h3>
<p>You should always dispose of hardware safely and cleanse of data. </p>
 
<p>To do this you must:</p>
<ul>
  <li>remove all data (if you’re not confident doing this, get professional advice)</li>
  <li>recycle</li>
</ul>

<p>Consider the following when it comes to disposing of hardware:</p>
<ul>
  <li>recycling schemes</li>
  <li>donating to a charity</li>
  <li>selling the items </li>
  <li>supplier collection and disposal</li>
</ul>
 
<p>If you’re unsure about recycling, contact your <a href="https://www.gov.uk/find-local-council">local council</a> or review the waste disposal guidance on your <a href="https://www.gov.uk/find-local-council">local council</a> website for help.</p>
 
<h3>Hardware security</h3>
<p>Some ICT hardware is a target for thieves so you should regularly review your school’s security by:</p>
<ul>
  <li>making pupils and staff aware of security policy</li>
  <li>create guidance or awareness notices around theft security</li>
</ul> 
 
<p>More information on cyber security and data protection can be found on the <a href="https://www.cyberaware.gov.uk/">Cyber Aware</a> website, provided by the <a href="https://www.ncsc.gov.uk/">National Cyber Security Centre</a>.</p>
 
<h2 id="after-sales">After sale services</h2>
 
<p>Consider what after sales services your ICT provider can offer you.</p>
 
<p>After sales services could include:</p>
<ul>
  <li>customer support (including dedicated repair and maintenance teams)</li>
  <li>24 hour helpline</li>
  <li>warranties for physical hardware</li>
  <li>a fully managed service</li>
  <li>training for new equipment and software</li>
  <li>installation of new equipment</li>
</ul>

{% endblock %}
