{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{% from "radios/macro.njk" import govukRadios %}
{% from "button/macro.njk" import govukButton %}
{% from "summary-list/macro.njk" import govukSummaryList %}
{% from "inset-text/macro.njk" import govukInsetText %}
{% from "warning-text/macro.njk" import govukWarningText %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "footer/macro.njk" import govukFooter %}

{% extends "template.njk" %}

{% block head %}
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-N7JPPRB');</script>
  <!-- End Google Tag Manager -->

  <meta name="robots" content="noindex, nofollow">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136659054-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-136659054-1');
  </script>

  <link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/manuals-frontend/application-22ccffde3863bbb6f5ad2362828cb87960137736bd8cd525c6ad13c1840adfd6.css">

  <link rel="stylesheet" href="/assets/styles/main.css">
{% endblock %}

{% block pageTitle %}{{ pageTitle }} - {{ locals.serviceName }} - GOV.UK{% endblock %}

{% block bodyStart %}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N7JPPRB"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
{% endblock %}

{% block header %}
  <div id="global-cookie-message" style="display: block;">
    <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies" data-module="track-click" data-track-category="cookieBanner" data-track-action="Cookie banner clicked" class="govuk-link">Find out more about cookies</a></p>
  </div>
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    containerClasses: "govuk-width-container",
    serviceName: "Find a DfE approved framework for your school",
    serviceUrl: "/"  
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "https://www.gov.uk/help/cookies",
          text: "Cookies"
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script src="/assets/all.js"></script>
  <script src="/assets/frameworks.js" id="mainscript" data-survey="{{ locals.survey }}"></script>
  <script src="https://assets.publishing.service.gov.uk/static/libs/jquery/jquery-1.12.4-c731c20e2995c576b0509d3bd776f7ab64a66b95363a3b5fae9864299ee594ed.js"></script>
  <script src="https://assets.publishing.service.gov.uk/manuals-frontend/application-c43d9e79937f6feae9a27fe48b80a0e978042e7d6d0fa0dd2c350190658c534c.js"></script>
{% endblock %}