{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{% from "radios/macro.njk" import govukRadios %}
{% from "button/macro.njk" import govukButton %}
{% from "summary-list/macro.njk" import govukSummaryList %}
{% from "inset-text/macro.njk" import govukInsetText %}
{% from "warning-text/macro.njk" import govukWarningText %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "footer/macro.njk" import govukFooter %}

{% extends "template.njk" %}

{% block head %}
  <meta name="robots" content="noindex, nofollow">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136659054-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-136659054-1');
  </script>
  <link rel="stylesheet" href="/assets/styles/main.css">
{% endblock %}

{% block pageTitle %}{{ pageTitle }} - {{ serviceName }} - GOV.UK{% endblock %}

{% block header %}
  <div id="global-cookie-message" style="display: block;">
    <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies" data-module="track-click" data-track-category="cookieBanner" data-track-action="Cookie banner clicked" class="govuk-link">Find out more about cookies</a></p>
  </div>
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    containerClasses: "govuk-width-container",
    serviceName: "Find a DfE approved framework for your school",
    serviceUrl: "/"  
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "https://www.gov.uk/help/cookies",
          text: "Cookies"
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script src="/assets/all.js"></script>
  <script src="/assets/frameworks.js"></script>
{% endblock %}