{% extends "buying-for-schools.njk" %}
{% import "macros/results.njk" as results %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Guidance</span>
      <h1 class="govuk-heading-l">{{ title }}</h1>
      <p class="govuk-body-l">{{ intro }}</p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p class="govuk-body-s govuk-!-margin-bottom-7">
        Published {{ published }}<br>
        Last updated {{ updated }} — <a class="govuk-link" href="#" class="govuk-link">see all updates</a><br>
        From: <a class="govuk-link" href="#" class="govuk-link">Department for Education</a>
      </p>
    </div>

    <div class="govuk-grid-column-two-thirds">

      <aside id="contents" class="part-navigation-container" role="complementary" style="border:0">
        <nav role="navigation" aria-label="Pages in this guide">

          <h2 class="govuk-body-s govuk-!-margin-bottom-0">Contents</h2>

          <ol class="govuk-list govuk-list--dash">
            {% for item in contents %}
              <li>
                <a class="govuk-body-s govuk-link" href="#{{ item.id }}">{{ item.title }}</a>
              </li>
            {% endfor %}
          </ol>
        </nav>

      </aside>

      {% block guidance %}
      {% endblock %}


      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <p class="govuk-body-s">
        Published {{ published }}<br>
        Last updated {{ updated }} <a class="govuk-link" href="#0">+ show all updates</a>
      </p>

      <a class="app-c-back-to-top dont-print govuk-link" href="#contents">
        <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
        <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
        </svg>
        Contents
      </a>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items app-related-items--small" role="complementary">
        {% block guidanceaside %}
        {% endblock %}
      </aside>

    </div>
  </div>
{% endblock %}